* {
   padding: 0px;
   margin: 0px;
   scrollbar-color: black;
}

body {
   background-image: url('https://i.imgur.com/j0aZPfm.jpg');
   background-position: center;
   
}

::-webkit-scrollbar {
   width:10px;
   height: 10px;
   }



      ::-webkit-scrollbar-thumb {
         background: white;
         border-radius: 4px;
         }
    
