body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    grid-column: 1/7;
    height: 10vh;
    
}

.blue-block1 {
    background-color: blue;
    grid-column: 1/3;
    box-sizing: border-box;
    margin: 5px;
    justify-content: center;
    align-items: center;
    grid-row: 2/4;
    text-align: center;
    
}

.blue-block2 {
    background-color: blue;
    grid-column: 1/3;
    box-sizing: border-box;
    margin: 5px;
    justify-content: center;
    align-items: center;
    grid-row: 4/6;
    text-align: center;
    
}

.yellow-block1 {
    background-color: yellow;
    grid-column: 3/5;
    margin: 5px;
    grid-row: 2/4;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yellow-block2 {
    background-color: yellow;
    grid-column: 3/5;
    margin: 5px;
    grid-row: 4/6;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.green-block1 {
    background-color: green;
    grid-column: 5/7;
    margin: 5px;
    grid-row: 2/4;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.green-block2 {
    background-color: green;
    grid-column: 5/7;
    margin: 5px;
    grid-row: 4/6;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black-block1 {
    background-color: black;
    color: white;
    grid-row: 6/12;
    grid-column: 1/4;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black-block2{
    background-color: black;
    color: white;
    grid-row: 6/12;
    grid-column: 4/7;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white-block1 {
    background-color: white;
    grid-column: 1/3;
    margin: 5px;
    grid-row: 12/14;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white-block2 {
    background-color: white;
    grid-column: 3/5;
    margin: 5px;
    grid-row: 12/14;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white-block3 {
    background-color: white;
    grid-column: 5/7;
    margin: 5px;
    grid-row: 12/14;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(14, 1fr);

}

@media screen and (max-width: 479px) {
    #main-container {
        display: flex;
        flex-direction: column;
 }

    .blue-block1 {
        background-color: blue;
        height: 20vh;
        margin: 10px;
}
    .yellow-block1 {
        background-color: yellow;
        height: 20vh;
        margin: 10px;

}
    .green-block1 {
        background-color: green;
        height: 20vh;
        margin: 10px;
}
    .blue-block2{
        background-color: blue;
        height: 20vh;
        margin: 10px;
}

    .yellow-block2 {
        background-color: yellow;
        height: 20vh;
        margin: 10px;

}

    .green-block2 {
        background-color: green;
        height: 20vh;
        margin: 10px;
}

    .yellow-block2 {
        background-color: yellow;
        height: 20vh;
        margin: 10px;
}

    .black-block1 {
        background-color: black;
        height: 20vh;
        margin: 10px;
}

    .black-block2 {
        background-color: black;
        height: 20vh;
        margin: 10px;
}

    .white-block1 {
        background-color: white;
        height: 20vh;
        margin: 10px;
}

    .white-block2 {
        background-color: white;
        height: 20vh;
        margin: 10px;
}


    .white-block3 {
        background-color: white;
        height: 20vh;
        margin: 10px;
}

}